
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0pt;
}


.footerArea {
    display: flex;
    justify-content: space-around;
    background-color: rgb(0, 0, 0);
    height: 600px;
    padding-top: 100px;
    flex-direction: column;
    width: 100%;

    
    
}

.error-text {
    color: red;
}

#title {
    margin: 40px 10px;
    color: #F5BF00;
    font-family:'Work Sans', sans-serif;
    font-weight: 700;
    text-align: center;
    
    


   
}


.container {
    display: flex;
    color: white;
   
   
}

.row {
  
    /* box-sizing: border-box; */
 
}

.col-xs-6 {
    flex: 1;
    transform: translate(63px, -96px);
}


.LeftBox {
    width: 50%;
    padding-top: 100px;
    font-family: 'Work Sans', sans-serif;
 
}

.Rightbox {
    width: 100%;
    padding-top: 100px;
    font-family: 'Work Sans', sans-serif;
    padding-left: 20px;
}

input {
    width: 200%;
    padding: 12px 20px;
    margin: 10px 0px !important;
    box-sizing: border-box;
    border-color: #F5BF00;
    background-color: #000000;
    border-radius: 7px;
    color: #F5BF00;
 
    font-size: 20px;
 
}

::placeholder {
    color: #f5c0008a;
}

#inputName #inputEmail {
    height: 60px;
    
}

#inputMessage {
    height: 100px;
}

button[type="submit"] {
    background-color: #F5BF00;
    color: rgb(0, 0, 0);
    width: 195%;
    height: 50px;
    border-radius: 7px;
    margin: 10px;
    font-size: 20px;
}

button[type="submit"]:hover {
    color: white;
}

h3 {
    font-size: 120%;
    font-weight: bold;
    color:  #F5BF00 !important;
    font-family: 'Poppins', sans-serif !important;
}

#info {
    color: #ffefb7 !important;
}


#linkedin {
 margin-right: 10px;
 width: 8%;
}
#github {
    margin-right: 10px;
    margin-bottom: 20px;
    width: 8%;
}
#twitter {
    margin-right: 10px;
    margin-bottom: 20px;
    width: 8%;
}

@media all and (max-width: 610px) {
    .col-xs-6 {
        flex: 1;
        transform: translate(25px, -96px);
    }
    
}

@media all and (max-width: 560px) {

 
    .col-xs-6 {

        transform: translate(21px, -96px);
    }
    
}

@media all and (max-width: 480px) {

    .col-xs-6 {
        transform: translate(7px, -96px);
    }

    #infoTitle {
        font-size: 100%;
    }
    
    p {
        font-size: calc(.4rem + .6vw);
        
    }
    #linkedin {
        margin-right: 10px;
        width: 15%;
    }
    #github {
        margin-right: 10px;
        width: 15%;
        margin-bottom: 8px;
    
    }
    #twitter {
        margin-right: 10px;
        width:15%;
        width: 15%;
        margin-bottom: 8px;
    
    
    }



}

